/* Copyright Daily Bruin 2014 */
p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a {
    color: #515791;
}
a:hover {
    color: #848eed;
}
a:visited {
    color: #917251;
}
h2 {
    font-size: 1.5rem;
    font-family: Georgia;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
}
h1 {
    color: #515791;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 2rem;
}
time {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 0.8rem;
    opacity: 0.8;
}
h2 + time {
    top: -7px;
    position: relative;
}
.breadcrumb {
    margin-bottom: 20px;
    display: block;
}
.subhead {
    text-align: center;
    display: block;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.1rem;
    opacity: 0.8;
    margin-bottom: 20px;
}
#main-content {
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: scroll;
    background-color: #f8f8f8;
}
#nameplate {
    display: block;
    width: 100%;
    margin-top: 200px;
}
#nameplate img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    opacity: 0.5;
}
#sidebar {
    width: 220px;
    background-color: #222222;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}
#sidebar nav .nav-item {
    display: block;
    width: 100%;
    padding: 12px;
    color: #ddd;
    border-bottom: 1px solid #888;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1.2px;
    font-weight: 200;
}
#sidebar nav .nav-item:first-child {
    border-top: 1px solid #888;
}
#sidebar nav .nav-item:hover {
    color: white;
    background-color: #333;
}
#sidebar nav .nav-item.active {
    background-color: #515791;
    color: white;
    border-bottom-color: #222;
    margin-top: -1px;
}
#sidebar nav .nav-item.active:first-child {
    border-top: 1px solid #222;
}
#sidebar #sidebar-logo {
    color: white;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    padding: 20px;
    margin-bottom: 10px;
    display: block;
    text-align: right;
    line-height: 3rem;
    text-transform: uppercase;
}
#main-content {
    left: 220px;
    padding: 10px;
    position: absolute;
}
