/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) { 
    figure {
        margin: 10px 40px;
    }
    #current-location-legend {
        top: 120px;
        right: 20px;
        bottom: auto;
    }
    .subhead {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { 
    #nameplate {
        display: block;
        width: 100%;
        bottom: 10px;
        position: absolute;
    }
    #main-content {
        left: 220px;
        position: absolute;
    }
    #sidebar {
        width: 220px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
    }
    #sidebar nav {
        display: block;
    }
    #sidebar nav .nav-item {
        padding: 12px;
        text-align: right;
    }
    #sidebar nav .nav-item:first-child {
        border-top: 1px solid #888;
    }
    #sidebar #sidebar-logo {
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 20px;
        margin-bottom: 10px;
        letter-spacing: 0;
    }
    #sidebar #sidebar-expand {
        display: none;
    }
    #current-location-legend {
        top: 30px;
        right: 30px;
        bottom: auto;
    }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

