---
---

/* Small screens */
@media only screen {}

/* Define mobile styles */

@media only screen and (max-width: 40em) {}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
  figure {
    margin: 10px 40px;
  }
  .subhead {
    margin-left: auto;
    margin-right: auto;
  }
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #current-location-legend {
    top: 20px;
    right: 20px;
    bottom: auto;
  }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
  .correction {
    margin-left: -26.6667%;
    width: 24.667%;
    float: left;
    font-size: 0.75em;
    line-height: 140%;
    text-align: right;
    margin-top: 50px;
    padding: 0;
  }
  iframe.box-embed {
    width: 80%;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .grave-record {
    height: 300px;
  }
  .grave-cover + *{
    margin-top: 660px;
  }
  #grave-age-label {
    clear: none;
  }
  .grave-title {
    font-size: 3.5em;
  }
  #grave-title-container {
    padding-left: 250px;
  }
  .infobox {
    width: 50%;
    margin-right: -16.6667%;
    float: right;
    &.full-width {
      width: 100%;
      margin-right: 0;
      float: none;
    }
  }
  .cover-caption {
    left: -16.6667%;
    width: calc(100% + 33.3334%);
    padding-left: 1.1875rem;
  }
  .entry {
    .editors-note {
      margin-left: -16.6667%;
      margin-right: -16.6667%;
      .editors-note-columns {
        column-count: 2;
        -webkit-column-count: 2;
      -moz-column-count: 2;
    }
    }
  }
  blockquote {
    padding-left: 44px;
    margin-left: -16.6667%;
  }
  .entry {
    figure {
      margin-left: -16.66667%;
      margin-right: -16.66667%;
      &.centered {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
      &.vertical {
          width: 70%;
          float: right;
          margin-left: 10px;
          &.left {
            float: left;
            margin-right: 10px;
            margin-left: -16.66667%;
          }
      }
    }
    figcaption {
      padding-top: 0;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.7rem;
      margin-bottom: 1.7rem;
    }
  }
  #nameplate {
    display: block;
    padding: 20px;
  }
  #current-location-legend {
    top: 120px;
    right: 20px;
    bottom: auto;
  }
  #main-content {
    left: 0px;
    padding-left: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    &.current-location-wrap {
      top: 0;
    }
  }
  #sidebar {
    width: 220px;
    height: 100%;
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    nav {
      display: block;
      .nav-item {
        padding: 8px 12px;
        text-align: right;
      }
    }
    #sidebar-logo {
      font-size: 2.5rem;
      line-height: 3rem;
      padding: 20px;
      margin-bottom: 10px;
      letter-spacing: 0;
    }
    #sidebar-expand {
      display: none;
    }
  }
  #current-location-legend {
    top: 30px;
    right: 30px;
    bottom: auto;
  }
  .entry.has-cover {
    margin-top: 640px;
  }
  .story-intro.has-cover {
    padding: 0 1.5em 0 300px;
  }
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
  #main-content > .row {
    position: relative;
  }
  .story-intro.has-cover {
    padding: 0 1.5em 0 3em;
  }
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {}

/* min-width 1921px, xxlarge screens */
