---
title: Blog
slug: blog
layout: main
---
<div class="row">
    <div class="small-12 columns">
        <h1>Blog</h1>
        <span class="subhead">Daily Bruin sent a team of reporters to the Philippines to cover Typhoon Haiyan/Yolanda recovery. <a href="{{ site.url }}/about">Learn more about the project</a>.</span>

        <div class="row"><div class="small-12 large-6 large-offset-3 columns">
            {% include subscribe-form.html %}
        </div></div>

        {% for post in site.posts %}
            <header>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%B %-d, %Y"}}</time>
            </header>
            <div class="entry">{{ post.content }}</div>
        {% endfor %}
    </div><!-- /12 -->
</div><!-- /row -->
