<div id="sidebar">
    <a id="sidebar-logo" href="{{ site.url }}">Wake of the Storm</a>
    <div id="sidebar-expand">
        Menu
        <div class="expand-control"></div>
    </div>
    <nav>
        <a class="nav-item{% if page.slug == "blog" %} active{% endif %}" href="{{ site.url }}">Blog</a>
        <a class="nav-item{% if page.slug == "about" %} active{% endif %}" href="{{ site.url }}/about">About the project</a>
        <a class="nav-item{% if page.slug == "current-location" %} active{% endif %}" href="{{ site.url }}/current-location">Current location</a>
        <a class="nav-item{% if page.slug == "share-your-story" %} active{% endif %}" href="{{ site.url }}/share-your-story">Share your story</a>
        <a class="nav-item" href="http://twitter.com/dbyolanda" target="_blank">Follow us on Twitter</a>
    </nav>
    <a id="nameplate" href="http://dailybruin.com/" target="_blank">
        <img src="http://malawi.dailybruin.com/img/gen/nameplate.svg" alt="Daily Bruin" />
    </a>
</div><!-- /sidebar -->
