<div id="sidebar">
    <div id="sidebar-logo">Wake of the Storm</div>
    <nav>
        <a class="nav-item{% if page.slug == "blog" %} active{% endif %}" href="#">Blog</a>
        <a class="nav-item{% if page.slug == "about" %} active{% endif %}" href="#">About the scholarship</a>
        <a class="nav-item{% if page.slug == "share-your-story" %} active{% endif %}" href="#">Share your story</a>
    </nav>
    <a id="nameplate" href="http://dailybruin.com/" target="_blank">
        <img src="http://malawi.dailybruin.com/img/gen/nameplate.svg" alt="Daily Bruin" />
    </a>
</div><!-- /sidebar -->
