<div id="sidebar">
    <a id="sidebar-logo" href="{{ site.url }}">Wake of the Storm</a>
    <div id="sidebar-expand">
        Menu
        <div class="expand-control"></div>
    </div>
    <nav>
        <h2>Chapter 1</h2>
        <a class="nav-item{% if page.slug == "through-hell-and-high-water" %} active{% endif %}" href="{{ site.url }}/chapter-1/through-hell-and-high-water">Through Hell and High Water</a>
        <a class="nav-item{% if page.slug == "her-second-chance" %} active{% endif %}" href="{{ site.url }}/chapter-1/her-second-chance">Her Second Chance</a>
        <a class="nav-item{% if page.slug == "a-network-of-support" %} active{% endif %}" href="{{ site.url }}/chapter-1/a-network-of-support">A Network of Support</a>
        <a class="nav-item{% if page.slug == "the-perfect-storm" %} active{% endif %}" href="{{ site.url }}/chapter-1/the-perfect-storm">The Perfect Storm</a>
        <h2>Chapter 2</h2>
        <a class="nav-item{% if page.slug == "amid-destruction-midwives-bring-life" %} active{% endif %}" href="{{ site.url }}/chapter-2/amid-destruction-midwives-bring-life">Amid Destruction Midwives Bring Life</a>
        <a class="nav-item{% if page.slug == "fading-funds-and-continued-efforts" %} active{% endif %}" href="{{ site.url }}/chapter-2/fading-funds-and-continued-efforts">Fading Funds and Continued Efforts</a>
        <h2>Chapter 3</h2>
        <span class="coming-soon">Coming on Wednesday</span>
        <h2>More</h2>
        <a class="nav-item{% if page.slug == "about" %} active{% endif %}" href="{{ site.url }}/about">About the project</a>
        <a class="nav-item{% if page.slug == "blog" %} active{% endif %}" href="{{ site.url }}/blog">Trip blog</a>
        <a class="nav-item{% if page.slug == "map" %} active{% endif %}" href="{{ site.url }}/map">Map</a>
    </nav>
    <a id="nameplate" href="http://dailybruin.com/" target="_blank">
        <img src="{{ site.url }}/img/nameplate.svg" alt="Daily Bruin" />
    </a>
</div><!-- /sidebar -->
