        <form action="//dailybruin.us9.list-manage.com/subscribe/post?u=135ae9bacad96a12269513ea4&amp;id=2064c843c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="email-form" target="_blank" novalidate>
            <span class="instructions">The team's full reports will be published in Fall quarter. Get an email reminder when it's published:</span>
            <div class="row collapse">
                <div class="small-9 columns">
                    <label for="mce-EMAIL"></label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_135ae9bacad96a12269513ea4_2064c843c2" tabindex="-1" value=""></div>
                </div>
                <div class="small-3 columns">
                    <input type="submit" value="Remind me" name="subscribe" id="mc-embedded-subscribe" class="button postfix"></div>
                </div>
            <span class="small">We will only send you one email and will not use your email address for any other purpose.</span>
        </form>
