---
layout: main
---
<div class="row">
    <div class="small-12 columns">
        <a class="breadcrumb" href="{{ site.url }}">&larr; Back to the blog</a>
        <header>
            <h2>{{ page.title }}</h2>
            <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%B %-d, %Y"}}</time>
        </header>
        <div class="entry">{{ content }}</div>
        <div class="row"><div class="small-12 large-8 large-offset-2 columns">
        {% include subscribe-form.html %}
        </div></div>
    </div>
</div>
