---
layout: narrow
---
<div class="row">
    <div class="small-12 columns story">
        <header>
            {% if page.cover %}
            <div id="cover" style="background-image: url({{ site.url }}/assets/images/{{ page.cover }})">
                <div class="story-intro{% if page.cover %} has-cover{% endif %}">
                    <h2>{{ page.title }}</h2>
                    <div class="article-info">
                        <span class="author">By {{ page.author }}</span>
                        <span class="separator">&bull;</span>
                        <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%B %-d, %Y"}}</time>
                    </div>
                </div>
            </div>
            {% endif %}
        </header>
        <div class="entry drop-cap {% if page.cover %}has-cover{% endif %}">
            {% if page.cover_caption %}
                <div class="cover-caption"><strong>Above:</strong> {{ page.cover_caption }}</div>
            {% endif %}
            {% if page.editors-note %}
                <div class="editors-note">
                    <h3>Editor&rsquo;s Note</h3>
                    <div class="editors-note-columns">
                        <p>Monday through Wednesday, the Daily Bruin is publishing a series about recovery efforts in the Philippines, which was devastated by a super typhoon last November. UCLA student donations played a part in the relief missions of several aid agencies in the wake of the storm.</p>
                        <p>The typhoon has two names, Haiyan and Yolanda. These stories use Yolanda, its Filipino name, for consistency and cultural accuracy.</p>
                        <p>Reporter Katie Shepherd, photojournalist Neil Bedi and data journalist Byron Lutz spent 19 days in the Philippines talking to survivors of the typhoon, displaced residents and aid organizations about the massive rehabilitation efforts underway in the Eastern Visayas.</p>
                        <p>The Bridget O’Brien Scholarship Foundation has funded seven years of UCLA student journalism with global reach and local impact, including this project. To learn more about the scholarship, visit <a href="http://rememberingbridget.com">rememberingbridget.com</a>.</p>
                    </div>
                </div>
            {% endif %}

            {% if page.story_location %}
            <figure class="story-location">
                <img alt="{{page.story_location}}" src="{{ site.url }}/assets/images/maps/{{ page.story_location_map }}"/>
            </figure>
            {% endif %}
            {{ content }}
        </div>
    </div>
</div>
